<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>メールを送信します。</title>
		<link rel="stylesheet" href="after.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136257018-1"></script>
	<script>
 	 window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
 	 gtag('js', new Date());
 	 gtag('config', 'UA-136257018-1');
	</script>
</head>

<body>
    <div class="contents">
    <h1><%= @email %>にメールを送信します。</h1>   
    <form action="/" method=post>
	<input type="submit" value="Home" div class="back"> 
	</div>
</form>
</body>