<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>送信しました</title>
		<link rel="stylesheet" href="after.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <div class="contents">
    <h1><%= @email %>にメールを送信します。</h1>   
    <form action="/" method=post>
	<input type="submit" value="Home" div class="back"> 
	</div>
</form>
</body>