<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>送信しました</title>
</head>
<body>
    <h1><%= @email %>にメールを送信しました。</h1>   
    <form action="/form" method=post>
	<input type="submit" value="最初の画面に戻る"> 
</form>
</body>