<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイムカプセラー</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
<h2>メールアドレス</h2>
<form action="/check" method=post>
	<input type="email" class="email">
<h2>送る時間</h2>
<form action="/check" method=post>
	<input type="datetime-local" class="time">
<h2>メッセージ</h2>
<form action="/check" method=post>
	<input type="text" class="message">
<h2></h2>
<form action="/check" method=post>
	<input type="submit" class="確認"> 
</body>
</html>
