<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイムカプセラー</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136257018-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136257018-1');
</script>

</head>
<body>
<h2>メールアドレス</h2>
<form action="/check" method=post>
	<input type="email" class="email">
<h2>送る時間</h2>
<form action="/check" method=post>
	<input type="datetime-local" class="time">
<h2>メッセージ</h2>
<form action="/check" method=post>
	<input type="text" class="message">
<h2></h2>
<form action="/check" method=post>
	<input type="submit" class="確認"> 
</body>
</html>
